.wrapper {
    display: flex;
    justify-content: space-around;
    width: 350px;
}

.out {
    width: 100px;
    height: 45px;
    border: 2px solid lightgrey;
    border-radius: 6px;

}

.three {
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.twelve {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: peachpuff;
    color: royalblue;
}