.wrapper {
    display: flex;
    margin-bottom: 45px;

}

.outer {
    border: 2px solid grey;
    border-radius: 2px;
    width: 100px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}